doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no")
    title brestprog
    
    //Bootstrap 3.3.6 (CSS only)
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",
                           integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",
                           crossorigin="anonymous")
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css",
                           integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r",
                           crossorigin="anonymous")
                           
body
  .container
    .row
      .col-sm-12
        h1 Список лекций
        ul
          each url, name in lections
            li
              a(href=url)=name
        
